// Typography
$Inter: 'Inter', Arial, Helvetica, sans-serif;
$GTWalsheimPro: 'GTWalsheimPro', Arial, Helvetica, sans-serif;

// Colors
$bg-grey: #f2f5f7;
$bg-blue: #dde6fc;

$login_bg: '/images/login-page/bg-login-page.svg';


