<template>
  <div v-show="isShow" class="modal-bg">
    <div class="modal-overflow">
      <div class="modal-container">
        <div class="modal-content">
          <div class="modal-white-bg" :style="'max-width:' + width + 'px'">
            <div v-if="title" class="modal-header">
              <div class="title">{{ title }}</div>
            </div>
            <div v-if="!title" class="close" @click="onClose">
              <i class="fal fa-times-circle"></i>
            </div>
            <div class="modal-body">
              <div class="modal-confirm">
                <div class="nav">
                  <button type="button" class="btn-transparent" @click="onClose">Cancel</button>
                  <button type="button" class="btn-blue" @click="onSubmit">Ok</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ConfirmModal',
  props: {
    isShow: {
      type: Boolean,
      required: false,
      default: true,
    },
    title: {
      type: String,
      required: true,
    },
    width: {
      type: Number,
      required: true,
    },
    onSubmit: {
      type: Function,
      required: true,
    },
    onClose: {
      type: Function,
      required: true,
    },
  },
}
</script>

<style lang="scss" scoped>
.modal-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  overflow: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
}

.modal-overflow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1041;
  position: fixed;
  outline: none !important;
  overflow: hidden auto;
}

.modal-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  font-size: 0;

  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.modal-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
  width: 100%;
  padding: 50px 0;
  font-size: initial;
}

.modal-white-bg {
  background-color: #ffffff;
  background-position: 100% 100%;
  position: relative;
  width: auto;
  max-width: 652px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.modal-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #618cfa;
  padding: 20px 50px;

  .title {
    text-align: center;
    color: #242424;
    font-size: 20px;
    font-weight: 600;
  }
}

.modal-confirm {
  padding: 30px;

  .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0;
    @media (max-width: 767px) {
      justify-content: center;
      padding: 30px;
    }

    .btn-transparent {
      margin-right: 20px;
    }

    .btn-blue {
      width: 100%;
      max-width: 236px;
    }
  }
}
</style>
