<template>
  <button
    :type="type"
    :class="['button', disabledClass]"
    :disabled="disabled"
    @click="onClick"
  >
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    type: {
      type: String,
      required: false,
      default: 'button'
    },
    text: {
      type: String,
      required: false,
      default: 'Button'
    },
    onClick: {
      type: Function,
      required: false,
      default: () => {}
    },
    disabled: {
      type: Boolean,
      required: false,
      default: true,
    }
  },
  computed: {
    disabledClass() {
      return this.disabled && 'disabled'
    }
  }
};
</script>

<style lang="scss" scoped>
.button {
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $GTWalsheimPro;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background-color: #618cfa;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
    max-width: 230px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
  }
}

.disabled {
  cursor: not-allowed;
}
</style>
