<template>
  <div class="input">
    <label :for="id">{{ label }}</label>
    <input
      :id="id"
      :value="value"
      :type="type"
      :class="[invalidClass]"
      :placeholder="placeholder"
      :validation="validation"
      :name="name"
      @input="$emit('input', $event.target.value)"
    >
    <span v-if="invalid" class="invalid">
      <slot></slot>
    </span>
  </div>
</template>

<script>

import { ValidatorHelper } from '@shared/helpers';

export default {
  name: 'VInput',
  props: {
    type: {
      type: String,
      required: false,
      default: 'text'
    },
    className: {
      type: String,
      required: false,
      default: 'Button'
    },
    label: {
      type: String,
      required: String,
      default: ''
    },
    name: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    validation: {
      type: Object,
      required: false,
      default: null
    },
  },
  computed: {
    id() {
      return `${this.label}-${Math.floor(Math.random() * 10000)}`;
    },
    invalid() {
      return ValidatorHelper.invalid(this.validation)
    },
    invalidClass() {
      return this.invalid === true ? 'invalid' : '';
    },
  }
};
</script>

<style lang="scss" scoped>
.input {
  padding-bottom: 30px;
  position: relative;
  width: 100%;

  label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
  }

  input {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 5px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }

  .invalid {
    border-color: #ff0000 !important;
    font-size: 14px;
    color: red;
  }
}
</style>
